.order-calendar {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  .tile-content {
    padding: 5px;
  }
  
  .order-info {
    font-size: 12px;
    line-height: 1.2;
  }